body { 
    color:black white;
    background: #000000;
    margin: 0px;
    font-family: "chakra petch ", sans-serif;
    margin-bottom: 100px;
}
    header {
        border-bottom: solid 2px rgb (42,122,228);
        padding: 20px;
        font-size: 32px;
        color:rgb(42,122,228);
    }
h1{
    font-size: 40px;
    p{
        font-size: 20px;
    }
    height:200px;
}
.categiria-videos{
    display:flex;
    overflow-x:auto;
    gap:10px;
}
        .categiria-videos img {
            opacity: 0.5;
            height: 200px;
            .categiria-videos img: hover {
                opacity: 1.0;
                border: 3px solid green;
  {
        .categoria h2 {
            color: rgb (42, 122, 228);
